.header {
    height: var(--header-hight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 16px;
}

.link {
    &:hover {
        text-decoration: underline;
    }
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;

    & > .icon {
        width: 30px;
        height: 30px;
    }

    & > .name {
    }
}
