.container {
    cursor: pointer;
    display: flex;
    width: 300px;
    height: 100px;
    padding: 2px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #606060;

    &:hover {
        opacity: 0.7;
    }
}

.name {
    color: white;
    margin: auto;
}
